<!DOCTYPE html>
<html lang="pt_br">
<head>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" />
</head>
<body>
	
	<nav th:replace="fragments/header :: header">
	</nav>
	
	<main role="main"> <!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-2">MyStore</h1>
			</div>
		</div>
	
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h2>name</h2>
				</div>
			</div>
			
			<div th:class="row" th:each="product : ${productList}">
				<div th:class="col-md-4">
					<p>
						<a th:href="@{'/product/detail/'+${product.id}}"><span th:text="${product.name}"></span> 
						</a>
					</p>
				<hr />
				</div>
			</div>
	    </div>     
	</main>
	<br />
	<footer class="container" >
		<div th:replace="fragments/footer :: footer"> </div>
	</footer>
	<script type="text/javascript"
		src="/webjars/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

</body>
</html>